/* Estilos para el fondo del diálogo */
.mat-dialog-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}
/* Estilos para el título del diálogo */
h2.dialog-title {
  text-align: center;
  font-size: 24px; /* Tamaño de fuente */
  color: #007bff; /* Color del texto (azul) */
  font-weight: bold; /* Fuente en negrita */
  margin-top: 10px; /* Margen superior */
  text-transform: uppercase; /* Convertir el texto a mayúsculas */
  /* Puedes agregar más estilos según tus preferencias */
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
}

/* Estilos para los campos de entrada */
mat-form-field {
  margin-bottom: 15px;
  width: 100%;
}

/* Estilos para los botones del diálogo */
mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Estilos para el botón "Iniciar Sesión" */
button.mat-raised-button {
  width: 45%;
}

/* Estilos para el botón "Cancelar" */
button.mat-button {
  width: 45%;
  background-color: #ccc;
}

/* Estilos para el mensaje de error */
div.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Estilos para el ícono de mostrar/ocultar contraseña */
i.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Estilos para el ícono de contraseña visible */
i.password-toggle-icon.fa-eye {
  color: #007bff; /* Azul */
}

/* Estilos para el ícono de contraseña oculta */
i.password-toggle-icon.fa-eye-slash {
  color: #888; /* Gris */
}

/* Estilos para el ícono de carga */
i.loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #007bff; /* Azul */
}
/* Estilos para el enlace "¿Se te olvidó la contraseña?" */
.forgot-password {
text-align: center; /* Centrar el enlace horizontalmente */
color: #007bff; /* Color del texto (azul) por defecto */
cursor: pointer; /* Cambiar el cursor al pasar por encima del enlace */
font-size: 14px; /* Tamaño de fuente */
margin-top: 10px; /* Margen superior */
/* Puedes agregar más estilos según tus preferencias */
}

/* Cambiar el color del enlace cuando se pasa el cursor encima */
.forgot-password:hover {
color: #ff6600; /* Color del texto (naranja) cuando se pasa el cursor */
/* Puedes ajustar el color a tu preferencia */
text-decoration: none; /* Quitar subrayado al pasar el cursor */
}
