<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-tittle">{{graficos.grafico1.leyenda}}</div>
            <div class="card-body">
                <app-grafico-dona class="chart"></app-grafico-dona>
            </div>
        </div>
        <div class="card">
            <div class="card-tittle">{{graficos.grafico2.leyenda}}</div>
            <div class="card-body">
                <app-grafica-dona1> </app-grafica-dona1>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-tittle">{{graficos.grafico3.leyenda}}</div>
            <div class="card-body">
                <app-grafico-barra class="chart"></app-grafico-barra>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-tittle">{{graficos.grafico4.leyenda}}</div>
            <div class="card-body">
                <app-grafica-horizontal class="chart"></app-grafica-horizontal>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-tittle">{{graficos.grafico5.leyenda}}</div>
            <div class="card-body">
                <app-grafico-lineas class="chart"></app-grafico-lineas>
            </div>
        </div>
    </div>
</div>