<div class="main-content">
    <mat-card class="custom-card">
        <mat-card-content class="custom-card-content">
            <button mat-raised-button routerLink="listadoinscripciones" color="primary">Listado inscripciones</button>
            <span class="spacer"></span>
            <button mat-raised-button routerLink="manualinscripcion" color="primary">Inscripción manual</button>
            <span class="spacer"></span>
            <button mat-raised-button routerLink="fichainscripcion" color="primary">Ficha de inscripción</button>
            <span class="spacer"></span>
            <button mat-raised-button routerLink="csvinscripcion" color="primary">Inscripciones por CSV</button>
        </mat-card-content>
    </mat-card>
    <router-outlet></router-outlet>
</div>


