.mat-table {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
}

.mat-table th,
.mat-table td {
  padding: 12px;
  text-align: left;
}

.mat-header-cell {
  font-weight: bold;
  background-color: #f2f2f2;
}

.mat-row:nth-child(even) {
  background-color: #f9f9f9;
}

button {
  background-color: #337ab7;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #23527c;
}
