.custom-card {
  background-color: aliceblue;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(134, 135, 136, 0.822);
}

.custom-card-content {
  padding: 3px;
  background-color: #ffffff;
  color: #333;
  font-size: 16px;
}


label {
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
}

select {
  font-size: 16px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-filtrar {
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-filtrar:hover {
  background-color: #0056b3;
}

.button-restablecer {
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-restablecer:hover {
  background-color: #218838;
}

.spacer {
  margin-right: 10px;
}