<a href="https://wa.me/31313050" target="_blank" class="whatsapp-float">
  <img src="assets\icono\Icono-Whatsapp.png" alt="WhatsApp Icon">
</a>
<mat-tab-group>
  <mat-tab label="Bienvenida">

    <div class="p-5">
      <mat-card>
        <mat-card-header>
          <mat-card-title style="text-align: center;">
          
          </mat-card-title>
          <mat-card-subtitle style="text-align: center;">
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-button>LIKE</button>
        </mat-card-actions>
      </mat-card>
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="assets/banner/INGE 1 FAR 2023.png" class="d-block w-100" alt="banner 1">
            <div class="carousel-caption d-none d-md-block">
              <h1 style="color:rgb(0, 0, 0)">----------------------</h1>
              <h2 style="color:rgb(0, 0, 0)">----------------------</h2>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="assets/banner/INGE 2 FAR 2023.png" class="d-block w-100" alt="banner 2">
            <div class="carousel-caption d-none d-md-block">
              <h1 style="color:rgb(0, 0, 0)">---------------</h1>
              <h2 style="color:rgb(0, 0, 0)">---------------</h2>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/banner/INGE 3 FAR 2023.png" class="d-block w-100" alt="banner 3">
            <div class="carousel-caption d-none d-md-block">
              <h1 style="color:rgb(0, 0, 0)">---------------</h1>
              <h2 style="color:rgb(0, 0, 0)">---------------</h2>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>   
  </mat-tab>

  <mat-tab label="Descripción de la página">
    <div class="container shadow p-3 rounded opacity-75">
      <div class="abs-center">
        <div class="card" style="max-width: 30rem; margin: auto;">
          <img src="https://i.pinimg.com/564x/40/08/e3/4008e321a129da6da97d63cf36603a37.jpg" class="card-img-top"
            alt="...">
          <div class="card-body">
            <h2 class="text-center">Quiénes somos</h2>
            <p class="card-text text-center">------------------------------------------------</p>
          </div>
        </div>
        <br />
      </div>
      <div class="row g-1 justify-content-center">
        <div class="col-md-6">
          <div class="p-3 border border-0">
            <div class="card mb-3 placeholder-glow">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://i.pinimg.com/564x/54/9f/96/549f9628d7a5d91bd69c31dcc804f296.jpg"
                    class="img-fluid rounded-start" alt="Card 1">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h2 class="card-title text-center">Misión</h2>
                    <p class="card-text">-------------------------------------------</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="p-3 border border-0">
            <div class="card mb-3 placeholder-glow">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://i.pinimg.com/564x/a7/fa/d7/a7fad79f3a439ebd8b45e6915a3d2ef1.jpg"
                    class="img-fluid rounded-start" alt="Card 2">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h2 class="card-title text-center">Visión</h2>
                    <p class="card-text">-------------------------------------------</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Contactos">
    <div class="container shadow-lg p-3 mb-5 bg-body">
      <div class="row g-1">
        <div class="col-6">
          <div class="p-3">
            <div class="card mb-3 placeholder-glow" style="max-width: 500px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://i.pinimg.com/564x/7f/97/cb/7f97cb62d8c26a6d3074b314c3af8b5d.jpg"
                    class="img-fluid rounded-start" alt="Card 1">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h2 class="card-title">Dirección</h2>
                    <p class="card-text">------------------</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 placeholder-glow" style="max-width: 500px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://i.pinimg.com/564x/45/c5/8a/45c58aa7a397ed7a2b6290ef5b73990c.jpg"
                    class="img-fluid rounded-start" alt="Card 2">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h2 class="card-title">Teléfono</h2>
                    <p class="card-text"></p>
                    <ul>
                      <li><a href="tel:12345678">-------</a></li>
                      <li><a href="tel:87654321">-------</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 align-self-center">
          <div class="p-3">
            <div class="card mb-3 placeholder-glow" style="max-width: 500px;">
              <div class="row g-0">
                <div class="col-md-16">
                  <div class="card-body">
                    <h2 class="card-title text-center">Redes Sociales</h2>
                  </div>
                </div>
              </div>
              <div class="row g-0">
                <div class="col-md-4">
                  <a href="https://www.facebook.com/">
                    <img src="https://i.pinimg.com/564x/f5/c2/18/f5c2181acef08a2114bc2314e09c9acc.jpg"
                      class="img-fluid rounded-circle btn" alt="Card 1">
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="https://www.instagram.com/">
                    <img src="https://i.pinimg.com/564x/5e/ff/6c/5eff6c25d920f6a78fda288e6589bf8b.jpg"
                      class="img-fluid rounded-circle btn" alt="Card 2">
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="https://www.twitter.com/">
                    <img src="/assets/icono/Captura de pantalla 2023-09-11 122436.png"
                      class="img-fluid rounded-circle btn" alt="Card 3">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-3">
            <div class="card mb-3 placeholder-glow" style="max-width: 500px;">
              <div class="row g-0">
                <div class="col-md-8">
                  <div class="card-body">
                    <mat-card class="demo-inline-calendar-card">
                      <mat-calendar [(selected)]="selected"></mat-calendar>
                    </mat-card>
                    <p>Selected date: {{selected}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>